#book{
    height : 90px;
    width: 90px;
    border-style: ridge;
}
h1{
    color: blueviolet;
    text-align: center;
}
body{
    text-align: center;
    background-color: darksalmon;
}